<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"   
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head th:fragment=“head”>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        
        <title>Smart Notification</title>
        
<!--         bootstrap -->
        <link type="text/css" rel="stylesheet" th:href="@{'/css/bootstrap.min.css'                       + '?v=' + ${@environment.getProperty('app.version')}}" />
<!--         mdb -->
        <link type="text/css" rel="stylesheet" th:href="@{'/css/mdb.min.css'                       + '?v=' + ${@environment.getProperty('app.version')}}" />
        
<!--         font-awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--         icons google -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
<!--         custom -->
        <link type="text/css" rel="stylesheet" th:href="@{'/css/main.css'                       + '?v=' + ${@environment.getProperty('app.version')}}" />
        <link type="text/css" rel="stylesheet" th:href="@{'/css/table.css'                       + '?v=' + ${@environment.getProperty('app.version')}}" />

<!--         jQuery -->
        <link type="text/css" rel="stylesheet" th:href="@{'/css/jquery-ui.min.css'                       + '?v=' + ${@environment.getProperty('app.version')}}" />

<!--         icon -->
        <link rel="shortcut icon" th:href="@{'/img/favicon.ico'}" type="image/x-icon">
    
    
        <!-- SCRIPTS -->
        <script type="text/javascript" th:src="@{'/js/jquery-3.3.1.min.js'                       + '?v=' + ${@environment.getProperty('app.version')}}"></script>
        <script type="text/javascript" th:src="@{'/js/jquery-ui.min.js'                       + '?v=' + ${@environment.getProperty('app.version')}}"></script>
        <script type="text/javascript" th:src="@{'/js/popper.min.js'                       + '?v=' + ${@environment.getProperty('app.version')}}"></script>
        <script type="text/javascript" th:src="@{'/js/bootstrap.min.js'                       + '?v=' + ${@environment.getProperty('app.version')}}"></script>
        <script type="text/javascript" th:src="@{'/js/mdb.min.js'                       + '?v=' + ${@environment.getProperty('app.version')}}"></script>
        <script type="text/javascript" th:src="@{'/js/main.js'                       + '?v=' + ${@environment.getProperty('app.version')}}"></script>
    </head>
</html>