<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

    <menu th:fragment=“menu”>
<!--     <div class="accordion" id="accordionExample" style="margin-top: 5px"> -->
<!--         <div class="card"> -->
<!--             <div class="card-header" id="headingOne"> -->
<!--                 <h5 class="mb-0"> -->
<!--                     <button class="btn btn-link" type="button" -->
<!--                         data-toggle="collapse" -->
<!--                         data-target="#collapseOne" aria-expanded="true" -->
<!--                         aria-controls="collapseOne">Campanhas</button> -->
<!--                 </h5> -->
<!--             </div> -->

<!--             <div id="collapseOne" class="collapse show" -->
<!--                 aria-labelledby="headingOne" -->
<!--                 data-parent="#accordionExample"> -->
<!--                 <div class="card-body">Enriquecimento</div> -->
<!--             </div> -->
<!--             <div class="card"> -->
<!--                 <div class="card-header" id="headingTwo"> -->
<!--                     <h5 class="mb-0"> -->
<!--                         <button class="btn btn-link collapsed" -->
<!--                             type="button" data-toggle="collapse" -->
<!--                             data-target="#collapseTwo" -->
<!--                             aria-expanded="false" -->
<!--                             aria-controls="collapseTwo"> -->
<!--                             Notificações</button> -->
<!--                     </h5> -->
<!--                 </div> -->
<!--                 <div id="collapseTwo" class="collapse" -->
<!--                     aria-labelledby="headingTwo" -->
<!--                     data-parent="#accordionExample"> -->
<!--                     <div class="card-body">Eventos</div> -->
<!--                 </div> -->
<!--             </div> -->
<!--             <div class="card"> -->
<!--                 <div class="card-header" id="headingThree"> -->
<!--                     <h5 class="mb-0"> -->
<!--                         <button class="btn btn-link collapsed" -->
<!--                             type="button" data-toggle="collapse" -->
<!--                             data-target="#collapseThree" -->
<!--                             aria-expanded="false" -->
<!--                             aria-controls="collapseThree"> -->
<!--                             Configurações</button> -->
<!--                     </h5> -->
<!--                 </div> -->
<!--                 <div id="collapseThree" class="collapse" -->
<!--                     aria-labelledby="headingThree" -->
<!--                     data-parent="#accordionExample"> -->
<!--                     <div class="card-body"> -->
<!--                         <ul class="list-group list-group-flush"> -->
<!--                             <li class="list-group-item"> -->
<!--                                 <a href="config/firebase">API FireBase</a> -->
<!--                             </li> -->
<!--                             <li class="list-group-item"> -->
<!--                                 <a href="config/firebase">SMS</a> -->
<!--                             </li> -->
<!--                             <li class="list-group-item"> -->
<!--                                 <a href="config/firebase">Legado</a> -->
<!--                             </li> -->
<!--                         </ul> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </div> -->
<!--         </div> -->


        <!--         <ul class="list-group list-group-flush"> -->
        <!--             <li class="list-group-item">Campanhas</li> -->
        <!--             <li class="list-group-item">Enriquecimento</li> -->
        <!--             <li class="list-group-item">Notificações</li> -->
        <!--             <li class="list-group-item">Eventos</li> -->
        <!--             <li class="list-group-item"> -->
        <!--                 <a data-toggle="collapse" href="#configCollapse" role="button" aria-expanded="false" aria-controls="configCollapse"> -->
        <!--                     Configurações -->
        <!--                 </a> -->
        <!--                 <div class="collapse" id="configCollapse" > -->
        <!--                   <div class="card card-body"> -->
        <!--                   </div> -->
        <!--                 </div> -->
        <!--             </li> -->
        <!--         </ul> -->
    </menu>
</html>